@import '../../styles/colors';
@import '../../styles/variables';

.wrapper {
  width: 341px;
  height: 361px;
}

.title {
  font-size: 16px;
  line-height: 24px;
  font-weight: $title-weight;
  margin-bottom: 15px;
}

.container {
  height: 322px;
  width: 341px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: $bright-gray;
  }

  &::-webkit-scrollbar-track {
    background: $white;
  }
}

.item {
  position: relative;
  min-height: 98px;
  width: 330px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
  margin: 2px 0 12px 2px;
  padding: 16px 14px 16px 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.date {
  font-size: 12px;
  font-weight: $font-weight;
  line-height: 16px;
  margin-bottom: 12px;
  max-width: 100px;
}

.riskLevel {
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  right: 18px;
  top: 18px;
}

.content {
  font-size: 14px;
  font-weight: $font-weight;
  margin: 0;
  line-height: 18px;
  max-height: 54px;
  overflow: hidden;
}

.contentSupplierName {
  margin: 0;
  font-size: 14px;
  font-weight: $title-weight;
  line-height: 18px;
  width: fit-content;
}

.source {
  color: $base-black;
  font-size: 12px;
  font-weight: $font-weight;
  line-height: 16px;
  margin: 8px 0 12px 0;
}

.exposure {
  margin-bottom: 2px;
  line-height: 22.38px;
  font-size: 16px;
  color: #0f81ac;
  font-weight: 500;
}

.exposure:hover {
  cursor: pointer;
  text-decoration: underline;
}

.high {
  color: #d0021b;
}

.medium {
  color: #ffb700;
}

.low {
  color: $base-grey;
}

.highRiskBackground {
  background: #fffae8;
  border: 1px solid #ffb700;
}

.background {
  background: $white;
  border: 1px solid $white;
}
